<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangff.learn.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wangff.learn.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="org_tree_id" jdbcType="VARCHAR" property="orgTreeId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="sis_id" jdbcType="VARCHAR" property="sisId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="avatar_user_file_id" jdbcType="BIGINT" property="avatarUserFileId" />
    <result column="avatar_file_id" jdbcType="VARCHAR" property="avatarFileId" />
    <result column="is_registering" jdbcType="INTEGER" property="isRegistering" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="time_zone" jdbcType="VARCHAR" property="timeZone" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>